/* fonts */
@import "fonts";

/* normalize.css */
@import "normalize";

/* vars */
$main-black: #000;
$main-white: #fff;
$main-red: #df1f1f;

$montserrat-regular: "montserrat-regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
$montserrat-bold: "montserrat-bold", Arial, "Helvetica Neue", Helvetica, sans-serif; /* + */
$proxima-nova-light: "proxima-nova-light", Arial, "Helvetica Neue", Helvetica, sans-serif; /* + */
$proxima-nova-light-italic: "proxima-nova-light-italic", Arial, "Helvetica Neue", Helvetica, sans-serif;
$proxima-nova-regular: "proxima-nova-regular", Arial, "Helvetica Neue", Helvetica, sans-serif; /* + */
$proxima-nova-regular-italic: "proxima-nova-regular-italic", Arial, "Helvetica Neue", Helvetica, sans-serif; /* + */
$proxima-nova-semibold: "proxima-nova-semibold", Arial, "Helvetica Neue", Helvetica, sans-serif; /* + */
$proxima-nova-semibold-italic: "proxima-nova-semibold-italic", Arial, "Helvetica Neue", Helvetica, sans-serif;
$proxima-nova-bold: "proxima-nova-bold", Arial, "Helvetica Neue", Helvetica, sans-serif; /* + */
$proxima-nova-bold-italic: "proxima-nova-bold-italic", Arial, "Helvetica Neue", Helvetica, sans-serif;
$gotham-pro-medium: "Gotham Pro Medium", Arial, "Helvetica Neue", Helvetica, sans-serif; /* + */
$lato-light: "Lato Light", Arial, "Helvetica Neue", Helvetica, sans-serif;

/* temp style */
%btn-style {
	font-size: 15px;
	border: 2px solid $main-red;
	border-radius: 50px;
	cursor: pointer;
}

/* main style */
html, body {
    font-size: 16px;
	min-width: 320px;
}
.container {
	width: 100%;
}
.wrapper {
	width: 87.5%;
	margin: 0 auto;
}

/* header */
.header {
	padding: 29px 0;
	border-bottom: 2px solid #ebebec;
	.wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		.header-nav {
			background: url(../img/menu.png);
			width: 20px;
			height: 12px;
			position: relative;
			top: 19px;
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.nav-program {
			position: absolute;
			top: 18px;
			left: 61px;
			font-size: 14px;
			color: $main-black;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			text-decoration: none;
			transition: color .2s linear;
			&:hover {
				color: $main-red;
			}
		}
		.header-logo {
			position: absolute;
			top: -12px;
			left: 50%;
			padding: 0 32px;
			transform: translateX(-50%);
			background-color: $main-white;
		}
		.header-social {
			position: absolute;
			top: 14px;
			left: 71%;
			transform: translateX(-50%);
			display: flex;
			.icon {
				position: relative;
				margin-right: 40px;
				width: 23px;
				height: 22px;
				transition: background 0s;
				&-youtube {
					background: url(../img/social-icons.png);
					top: -1px;
					left: -2px;
					&:hover {
						background: url(../img/social-icons.png) 0 100%;
					}
				}
				&-fb {
					background: url(../img/social-icons.png) 69px 0;
					left: -3px;
					&:hover {
						background: url(../img/social-icons.png) 69px 100%;
					}
				}
				&-inst {
					background: url(../img/social-icons.png) 46px 0;
					left: -5px;
					&:hover {
						background: url(../img/social-icons.png) 46px 100%;
					}
				}
				&-vk {
					background: url(../img/social-icons.png) 23px 0;
					left: -1px;
					&:hover {
						background: url(../img/social-icons.png) 23px 100%;
					} 
				}
			}
		}
		.header-request {
			@extend %btn-style;
			padding: 14px 28px;
			color: $main-red;
			transition: all .2s linear;
			&:hover {
				color: $main-white;
				background-color: $main-red;
			}
			&:active {
				background-color: #f31818;
				border-color: #f31818;
			}
		}
	}
}

/* first screen */
.first-screen {
	background: url(../img/first-screen-bg.png) 0 63px no-repeat;
	display: flex;
	justify-content: flex-end;
	min-height: calc(100vh - 109px);
	.first-screen-content {
		margin-right: 153px;
		padding-top: 67px;
		display: flex;
		flex-direction: column;
		.content-slogan {
			margin: 0 auto;
		}
		.online-program {
			text-align: center;
			font-size: 15px;
			letter-spacing: 0.047em;
			margin: 28px 7px 45px 0;
			span {
				text-transform: uppercase;
			}
		}
		.content-achievements {
			display: flex;
			justify-content: space-around;
			font-family: $proxima-nova-regular;
			font-size: 13px;
			line-height: 16px;
			.left {
				margin-left: 22px;
				padding-top: 43px;
				width: 110px;
				text-align: center;
				background: url(../img/champion.png) 50% 0 no-repeat;
				p {
					margin-bottom: 5px;
				}
				span {
					font-family: $proxima-nova-regular-italic;
					font-size: 12px;
					color: #6c6c6c;
				}
			}
			.right {
				position: relative;
				margin-top: -4px;
				margin-right: 20px;
				padding-top: 48px;
				width: 150px;
				text-align: center;
				background: url(../img/medalist.png) no-repeat 50% 0;
				&:before {
					content: "";
					display: block;
    				width: 1px;
    				height: 95px;
    				background-color: #e1e1e1;
    				position: absolute;
    				top: -2px;
    				left: -45px;
				}
			}
		}
		.content-btn {
			@extend %btn-style;
			margin: 33px 8px 33px 0;
			padding: 19px 29px 17px;
			background-color: $main-red;
			color: $main-white;
			letter-spacing: 0.09em;
			text-transform: uppercase;
			align-self: center;
			transition: all .2s linear;
			&:hover {
				background-color: #f42727;
				border-color: #f42727;
			}
		}
	}
}

/* rates */
.rates {
	background: url(../img/rates-bg.png) no-repeat;
	background-size: cover;
	padding-bottom: 107px;
	.rates-title {
		h2 {
			font-family: $montserrat-bold;
			color: $main-white;
			font-size: 44px;
			letter-spacing: 0.041em;
			text-transform: uppercase;
			text-align: center;
			margin-top: 0;
			padding: 98px 0 60px;
			span {
				color: $main-red;
				letter-spacing: 0.4em;
				padding-left: 23px;
				padding-right: 10px;
			}
		}
	}
	.rates-plans {
		display: flex;
		.plan {
			display: flex;
			flex-direction: column;
			position: relative;
			box-sizing: border-box;
			background-color: $main-white;
			padding: 30px;
			border-right: 1px solid #efefef;
			&-free {
				width: calc(25% - 7px);
			}
			&-amateur {
				width: calc(25% + 7px);
				.cost {
					&:before {
						content: "$";
						font-size: 20px;
						color: $main-red;
						position: relative;
						top: -10px;
						margin-right: 4px;
					}
				}
				ul {
					margin-top: 0;
				}
			}
			&-pro {
				width: calc(25% + 7px);
				border: none;
				.cost {
					&:before {
						content: "$";
						font-size: 20px;
						color: $main-red;
						position: relative;
						top: -10px;
						margin-right: 4px;
					}
				}
			}
			&-champion {
				width: calc(25% - 7px);
				border: none;
			}
			h4 {
				font-size: 15px;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				margin-top: 1px;
				margin-bottom: 4px;
			}
			.cost {
				font-family: $gotham-pro-medium;
				font-size: 34px;
				color: $main-red;
				letter-spacing: 0.04em;
				&-free {
					font-family: $proxima-nova-bold;
					text-transform: uppercase;
				}
			}
			.desc {
				font-family: $proxima-nova-regular;
				font-size: 14px;
				letter-spacing: 0.015em;
				padding-right: 5px;
				color: #686868;
				margin-top: 4px;
				margin-bottom: 25px;
			}
			ul {
				padding: 0;
				li {
					list-style: none;
					background: url(../img/ul-check-gray.png) no-repeat;
					padding: 0 13px 13px 28px;
					font-family: $proxima-nova-light;
					font-size: 14px;
					letter-spacing: 0.03em;
				}
				.upper {
					text-transform: uppercase;
				}
			}
			.rates-btn {
				@extend %btn-style;
			    position: absolute;
				align-self: center;
				color: $main-red;
				padding: 14px 28px;
				bottom: -4px;
				margin-bottom: 35px;
				transition: all .2s linear;
				&:hover {
					color: $main-white;
					background-color: $main-red;
				}
				&:active {
					background-color: #f31818;
					border-color: #f31818;
				}
			}
		}
		.plan-champion {
			background-color: $main-red;
			color: $main-white;
			margin-top: -32px;
			margin-bottom: -32px;
			padding: 30px 20px 30px 23px;
			box-shadow: 0 1px 50px 0 rgba(0,0,0,.36);
			.champion-circle {
				position: relative;
				width: 185px;
    			height: 185px;
    			border-radius: 50%;
    			background-color: #e33a3a;
    			margin: 0 auto 13px;
    			&:before {
    				content: "";
    				display: inline-block;
    				background-color: rgba(255,255,255,.3);
    				width: 39px;
    				height: 2px;
    				position: absolute;
    				left: -10px;
    				bottom: 74px;
    			}
    			&:after {
    				content: "";
    				display: inline-block;
    				background-color: rgba(255,255,255,.3);
    				width: 39px;
    				height: 2px;
    				position: absolute;
    				right: -10px;
    				bottom: 74px;
    			}
				h4 {
					font-size: 16px;
					white-space: nowrap;
					margin-top: 59px;
					margin-left: -9px;
				}
				.cost-champ {
					display: block;
					font-family: $gotham-pro-medium;
					font-size: 38px;
					letter-spacing: 0.04em;
					color: $main-white;
					width: 56%;
					margin: 12px auto;
					&:before {
						content: "$";
						font-size: 20px;
						color: $main-white;
						position: relative;
						top: -12px;
						left: 3px;
						margin-right: 5px;
					}
				}
			}
			ul {
				li {
					background: url(../img/ul-check-white.png) no-repeat;
					padding: 0 8px 13px 28px;
				}
			}
			.rates-btn {
				position: relative;
				background-color: $main-white;
				border-color: $main-white;
				bottom: 0;
				&:active {
					border-color: $main-white;
				}
			}
		}
	}
}

/* instagram */
.instagram {
	padding-bottom: 191px;
	.wrapper {
		h3 {
			font-size: 32px;
			font-family: $montserrat-bold;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			padding-top: 103px;			
			a {
				text-decoration: none;
				color: #1d1d22;
				&:before {
					content: "";
					display: inline-block;
					width: 30px;
					height: 30px;
					background: url(../img/instagram-icon.png);
					position: relative;
					top: 3px;
					margin-right: 23px;
				}
			}
		}
		.followers-box {
			background-color: #f6f6f6;
			width: 137px;
			padding: 10px 0;
			margin: 10px auto 100px;
			p {
				font-family: $proxima-nova-regular;
				color: #4d4d4d;
				text-align: center;
				margin: 0;
				span {
					font-family: $proxima-nova-bold;
					color: #1d1d22;
					text-transform: uppercase;
				}
			}
		}
		.instagram-gallery {
			position: relative;
			.instagram-bg {
				position: absolute;
				background-color: $main-red;
				width: 900px;
				height: calc(100% + 110px);
				top: -55px;
				left: -162px;
				z-index: -1;
			}
			.gallery-frame {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				a {
					position: relative;
					width: 23%;
					height: 23%;
					transition: transform .25s linear;
					&:hover {
						transform: scale(1.1);
					}
					img {
						display: block;
						width: 100%;
						height: 100%;
					}
					&:before {
						content: "";
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: url(../img/search.png) 50% 50% no-repeat, rgba(0, 0, 0, .6);
						opacity: 0;
						transition: opacity .25s linear;
					}
					&:hover:before {
						opacity: 1;
					}
				}
				.horizontal-gap {
					margin-bottom: 2.9%;
				}
			}
		}
	}
}

/* camp */
.camp {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: -50px;
		left: 0;
		width: 27%;
		height: calc(100% + 115px);
		background: url(../img/camp-bg-left.png) no-repeat;
		background-size: cover;
		z-index: -1;
	}
	&:after {
		content: "";
		position: absolute;
		top: -50px;
		right: 0;
		width: 27%;
		height: calc(100% + 115px);
		background: url(../img/camp-bg-right.png) no-repeat;
		background-size: cover;
		z-index: -1;
	}
	h3 {
		font-family: $montserrat-bold;
		font-size: 32px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-align: center;
		position: relative;
    	top: -66px;
		span {
			color: $main-red;
		}
	}
	.camp-content {
		display: flex;
		width: 72.5%;
		margin: -51px auto 0;
		background-color: $main-white;
		box-shadow: 0 1px 40px 0 rgba(0, 0, 0, .08);
		.camp-img {
			width: 57.5%;
			background: url(../img/camp-img.png) no-repeat;
		}
		.camp-info {
			padding: 35px 30px;
			.camp-info-header {
				display: flex;
				justify-content: space-between;
				font-family: $proxima-nova-regular;
				.block {
					padding: 11px 8px;
					border: 1px solid #ededed;
    				border-radius: 3px;	
    				&-date {
						&:before {
							content: "";
							display: inline-block;
							width: 16px;
							height: 16px;
							background: url(../img/calendar-site.png);
							margin-right: 7px;
							position: relative;
							top: 2px;
						}
    				}
    				&-site {
						&:before {
							content: "";
							display: inline-block;
							width: 11px;
							height: 16px;
							background: url(../img/calendar-site.png) 100%;
							margin-right: 7px;
							position: relative;
							top: 2px;
						}
    				}
    				&-map {
						a {
							font-size: 14px;
							color: $main-red;
						}
    				}
				}
			}
			.camp-info-list {
				background-color: #f9f9f9;
				margin-top: 30px;
				padding: 23px 0 8px 23px;
				border-bottom: 3px solid #f0f0f0;
				border-radius: 3px;
				li {
					list-style: none;
					background: url(../img/ul-circle-red.png) 0 4px no-repeat ;
					padding: 0 25px 17px 20px;
					font-family: $proxima-nova-light;
					font-size: 15px;
					color: #343434;
				}
			}
			.camp-info-btn-wrapper {
				position: relative;
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					width: 100%;
					height: 1px;
					background-color: #ebebec;
				}
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					width: 216px;
					height: 1px;
					background-color: #fff;
					margin: 0 auto;
				}
			}
			.camp-info-btn {
				@extend %btn-style;
				background-color: $main-red;
				color: $main-white;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				text-align: center;
				padding: 20px 0 18px;
				width: 152px;
				margin: 30px auto -6px;
				position: relative;
				z-index: 1;
				transition: all .2s linear;
				&:hover {
					background-color: #f42727;
					border-color: #f42727;
				}
			}
		}
	}
}

/* youtube */
.youtube {
	.wrapper {
		text-align: center;
		.youtube-title {
			margin: 123px 0 64px;
			img {
				vertical-align: middle;
			}
			p {
				font-size: 18px;
				margin-top: 26px;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				a {
					color: #48505d;
					text-decoration: none;
				}
			}
		}
		.youtube-gallery {
			font-size: 0;
			margin: -15px -15px 128px -15px;
			a {
				display: inline-block;
				box-sizing: border-box;
				vertical-align: top;
				text-align: left;
				width: 25%;
				padding: 15px 15px 0;
				margin-bottom: 10px;
				text-decoration: none;
				transition: box-shadow .3s;
				&:hover {
					box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
				}
				img {
					width: 100%;
				}
				.desc {
					font-family: $proxima-nova-regular;
					font-size: 16px;
					letter-spacing: 0.01em;
					color: #343434;
					margin: 10px 0;
				}
				.date {
					font-family: $proxima-nova-regular;
					font-size: 13px;
					color: #8b8b8b;
				}
			}
		}	
	}
}

/* testimonials */
.testimonials {
	position: relative;
	.testimonials-title {
		font-family: $montserrat-bold;
		font-size: 32px;
		color: #1d1d22;
		text-align: center;
		background: linear-gradient(to top, #fbfbfb, #f5f5f5);
		text-transform: uppercase;
		padding: 127px 0 172px;
		letter-spacing: 0.01em;
		&:before {
			content: "";
			position: absolute;
			top: -55px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 2px;
			height: 106px;
			background-color: $main-red;
		}
	}
	.slider {
		display: flex;
		justify-content: space-between;
		height: 400px;
		position: relative;
		top: -145px;
		.prev-slide {
			position: relative;
			width: 26.4%;
			cursor: pointer;
			&-bg {
				position: absolute;
				width: 100%;
				height: 100%;
				background: url(../img/testimonials-prev-slide.png);
				background-size: cover;
				opacity: 1;
				&:hover {
					opacity: 0;
				}
			}
			&-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background: url(../img/testimonials-prev-slide-overlay.png);
				opacity: 0;
				transition: opacity .2s linear;
				z-index: 1;
				&:hover {
					opacity: 1;
				}
			}
			&-title {
				position: absolute;
				font-family: $proxima-nova-bold;
				font-size: 40px;
				line-height: 48px;
				color: $main-white;
				padding: 51px 114px 0 0;
				text-align: right;
				z-index: 1;
				&:before {
					content: "";
					position: absolute;
					top: 59px;
					right: 25px;
					width: 55px;
					height: 34px;
					background: url(../img/slider-arrows.png);
				}
				&:after {
					content: "";
					position: absolute;
					top: 75px;
					right: -179px;
					width: 204px;
					height: 2px;
					background: $main-red;
				}
			}
		}
		.active-slide {
			position: relative;
			width: 42.7%;
			background: url(../img/testimonials-active-slide.png);
			&-title {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				background-color: $main-red;
				color: $main-white;
				font-family: $proxima-nova-bold;
				font-size: 17px;
				padding: 68px 32px 28px;
			}
			&-play-btn {
				position: absolute;
				top: 53%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80px;
				height: 80px;
				background: url(../img/slider-play-btn.png);
				cursor: pointer;
				&:hover {
					background: url(../img/slider-play-btn.png) 100%;
				}
			}
			&:before {
				content: "";
				position: absolute;
				bottom: -10px;
				left: 0;
				right: 0;
				height: 10px;
				margin: 0 auto;
				width: calc(100% - 25px);
				background-color: #ebebeb;
			}
			&:after {
				content: "";
				position: absolute;
				bottom: -17px;
				left: 0;
				right: 0;
				height: 7px;
				margin: 0 auto;
				width: calc(100% - 38px);
				background: #f7f7f7;
			}
		}
		.next-slide {
			position: relative;
			width: 26.4%;
			cursor: pointer;
			&-bg {
				position: absolute;
				width: 100%;
				height: 100%;
				background: url(../img/testimonials-next-slide.png);
				background-size: cover;
			}
			&-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background: url(../img/testimonials-next-slide-overlay.png);
				opacity: 0;
				transition: opacity .2s linear;
				&:hover {
					opacity: 1;
				}
			}
			&-title {
				position: absolute;
				font-family: $proxima-nova-bold;
				font-size: 40px;
				line-height: 47px;
				color: $main-white;
				padding: 52px 0 0 112px;
				z-index: 1;
				&:before {
					content: "";
					position: absolute;
					top: 59px;
					left: 25px;
					width: 55px;
					height: 34px;
					background: url(../img/slider-arrows.png) 100% 0;
				}
				&:after {
					content: "";
					position: absolute;
					top: 75px;
					left: -179px;
					width: 204px;
					height: 2px;
					background: $main-red;
				}
			}
		}
	}
	.slider-nav {
		position: relative;
		top: -93px;
		display: flex;
		justify-content: center;
		.slide-nav-btn {
			box-sizing: border-box;
			background-color: #ddd;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			margin: 0 11px;
			cursor: pointer;
			&.active {
				background-color: $main-white;
				border: 3px solid $main-red;
			}
			&:after {
				content: "";
				position: absolute;
				bottom: -187px;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 2px;
				height: 106px;
				background-color: $main-red;
			}
		}
	}
}

/* contact */
.contacts {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 17px;
		left: 0;
		width: 65px;
		height: calc(100%);
		background-color: #f5f5f5;
	}
	&:after {
		content: "";
		position: absolute;
		top: 17px;
		right: 0;
		width: 65px;
		height: calc(100%);
		background-color: #f5f5f5;
	}
	.contacts-title {
		font-family: $montserrat-bold;
		font-size: 32px;
		color: #1d1d22;
		text-align: center;
		text-transform: uppercase;
		margin-top: 146px;
	}
	.contacts-wrapper {
		width: 72.5%;
		margin: 0 auto;
		.contacts-info {
			.mail {
				font-family: $proxima-nova-bold;
				font-size: 26px;
				letter-spacing: 0.006em;
				margin: 90px 0 20px;
				&:before {
					content: "";
					display: inline-block;
					width: 36px;
					height: 24px;
					background: url(../img/mail-phone.png);
					margin-right: 22px
				}
				a {
					color: #1d1d22;
					vertical-align: top;
				}	
			}
			.phone {
				font-family: $proxima-nova-bold;
				font-size: 26px;
				&:before {
					content: "";
					display: inline-block;
					width: 36px;
					height: 24px;
					background: url(../img/mail-phone.png) 100%;
					margin-right: 20px;
					position: relative;
					top:3px;
				}
				a {
					color: #1d1d22;
					text-decoration: none;
				}
			}
			.other {
				display: flex;
				align-items: center;
				margin-top: 22px;
				.other-viber {
					width: 47px;
					height: 47px;
					background: url(../img/viber-tg.png);
				}
				.other-tg {
					width: 47px;
					height: 47px;
					background: url(../img/viber-tg.png) 100%;
				}
				.other-phone {
					font-family: $proxima-nova-semibold;
					background-color: #f4f4f4;
					font-size: 20px;
					letter-spacing: 0.1em;
					line-height: 45px;
					color: #1d1d22;
					text-decoration: none;
					padding: 2px 18px 0 19px;
				}
			}
			.contacts-social {
				display: flex;
				transform: translateX(-17px);
				.first-couple {
					display: flex;
				}
				.second-couple {
					display: flex;
					.section:last-of-type {
						border: none;
					}
				}
				.section {
					position: relative;
					font-family: $proxima-nova-regular;
					text-align: center;
					text-decoration: none;
					box-sizing: border-box;
					border-right: 1px solid #e7e7e7;
					width: 100px;
					margin-top: 65px;
					padding-top: 12px;
					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						margin: 0 auto;
						width: 23px;
						height: 22px;
					}
					&-youtube:before {
						background: url(../img/social-icons.png);
					}
					&-youtube:hover:before {
						background: url(../img/social-icons.png) 0 100%;
					}
					&-fb:before {
						background: url(../img/social-icons.png) 69px 0;
					}
					&-fb:hover:before {
						background: url(../img/social-icons.png) 69px 100%;
					}
					&-inst:before {
						background: url(../img/social-icons.png) 46px 0;
					}
					&-inst:hover:before {
						background: url(../img/social-icons.png) 46px 100%;
					}
					&-vk:before {
						background: url(../img/social-icons.png) 23px 0;
					}
					&-vk:hover:before {
						background: url(../img/social-icons.png) 23px 100%;
					}
					.count {
						font-size: 19px;
						color: #1d1d22;
						margin-bottom: 0;
					}
					.watching {
						font-size: 11px;
						color: #939393;
						margin-top: 2px;
						margin-bottom: 0;
					}
				}
			}
		}
		.contacts-form {

		}
	}
}






@media screen and (max-width: 1200px) {
	.header {
		.wrapper {
			.header-social {
				display: none;
			}
		}
	}

	.first-screen {
		.first-screen-content {
			width: 500px;
			margin: 0 auto;
			.content-slogan {
				width: 40%;
			}
		}
	}
}